:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(225, 176, 206, 1) 0%, rgba(198, 180, 216, 1) 83%, rgba(184, 182, 221, 1) 94%);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3,
h5 {
  font-family: sans-serif;
  margin: 0.5px;
  font-weight: initial;
}

h3 {
  margin-top: 20px;
}

h5 {
  margin-top: 10px;
}


button {
  border-radius: 5px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fdf2fc;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.😀,.fantasy ,.cursive {
  height: 39.2px;
  padding-top: 6.2px;
}

button:active {
  background-color: rgba(127, 166, 238, 0.721);
}

.text {
  margin-bottom: 70px;
  margin-top: 70px;
}

.colorPicker {
  border: #1a1a1a solid 1px;
  margin-left: 120px;
  justify-self: center;
  margin-bottom: 3px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    /* background-color: #fdf2fc;
    border: #472133 solid 0.5px; */
    background-color: #00000029;
    border: #472133 solid 0.5px;
    font-family: revert;
    color: white;
  }
}